@{ 
    ViewBag.Title = "Not Found";
}
<h2>@ViewBag.ErrorMessage</h2>

@*<h3>@ViewBag.QS</h3>

<h4>@ViewBag.Path</h4>*@

<a asp-action="index" asp-controller="home" class="btn btn-outline-success" style="width:auto">Click here to see employee list</a>